<!doctype html>
<html lang="en">
  <%- include('head'); %>
  <body>
    <div class="container">
          
         <%- include('menu'); %>
         <div class="p-3 mb-2 bg-secondary text-white">Home Page</div>

         <p><a class="link-offset-2 link-underline link-underline-opacity-0" href="/employee">Click Here to view Employee</a></p>

         <p><a class="link-offset-2 link-underline link-underline-opacity-0" href="/project">Click Here to view Projects</a></p>

         <p><a class="link-offset-2 link-underline link-underline-opacity-0" href="/movies">Click Here to view Movies</a></p>



         <p><a class="link-offset-2 link-underline link-underline-opacity-0" href="/utility">Click Here to Utility</a></p>

    </div>
    

    <%- include('scripts') %>
  </body>
</html>