<!doctype html>
<html lang="en">
  <%- include('./../head'); %>
  <body>
    <div class="container">
          
         <%- include('./../menu'); %>
         <div class="p-3 mb-2 bg-secondary text-white">Welcome to Utility Page</div>

         <p><a class="link-offset-2 link-underline link-underline-opacity-0" href="/utility/email">Click Here Email</a></p>

         

    </div>
    

    <%- include('./../scripts') %>
  </body>
</html>